footer.bg-white.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0 Copyright &copy; joshknopp.com 2023
            .col-auto
                a.text-gradient(href="https://www.linkedin.com/in/josh-knopp/") 
                    i.bi.bi-linkedin
                a.text-gradient(href="https://github.com/joshknopp") 
                    i.bi.bi-github