doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Josh Knopp

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon-32.png')

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.py-1
                .container.px-5.pb-5
                    .row.gx-5.align-items-center
                        .col-xxl-5
                            // Header text content
                            .text-center.text-xxl-start
                                .badge.bg-gradient-primary-to-secondary.text-white.mb-4
                                    .text-uppercase Experience &middot; Innovation &middot; Agile Leadership
                                .fs-3.fw-light.text-muted Drive excellence through
                                h1.display-3.fw-bolder.mb-5
                                    span.text-gradient.d-inline Developer Experience!
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xxl-start.mb-3
                                    a.btn.btn-primary.btn-lg.px-5.py-3.me-sm-3.fs-6.fw-bolder(href='resume.html') Resume
                                    a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='projects.html') Projects
                        .col-xxl-7
                            // Header profile picture
                            .d-flex.justify-content-center.mt-5.mt-xxl-0
                                .profile.bg-gradient-primary-to-secondary
                                    // TIP: For best results, use a photo with a transparent background like the demo example below
                                    // Watch a tutorial on how to do this on YouTube (link)
                                    img.profile-img(src='assets/josh-2023.png', alt='Photo of Josh Knopp')
                                    .dots-1
                                        include includes/svg-dots.pug
                                    .dots-2
                                        include includes/svg-dots.pug
                                    .dots-3
                                        include includes/svg-dots.pug
                                    .dots-4
                                        include includes/svg-dots.pug

            // About Section
            section.bg-light.py-1
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8
                            .text-center.my-3
                                h2.display-5.fw-bolder
                                    span.text-gradient.d-inline About Me
                                p.lead.fw-light.mb-4 I am a Director of Engineering specializing in Agile best practices.
                                p.text-muted I lean heavily into Developer Experience, prioritizing automation wherever possible. I emphasize CI/CD maturity as a key to reducing cycle time and increasing client satisfaction. I have led teams through numerous Agile transformations for Fortune 500 enterprises.
                                p.text-muted In my professional life as well as my spare time I enjoy exploring the rapidly expanding frontier of AI/ML. I am Microsoft Certified for Azure AI, and I am fascinated by the potential for disruptive innovation.
                                hr
                                .d-flex.justify-content-center.fs-2.gap-4
                                    a(href="https://learn.microsoft.com/en-us/users/joshknopp/credentials/a416496373b35948") 
                                        img.certification-logo(src='assets/logos/mai.svg', alt='Microsoft Certified, Azure AI Fundamentals')
                                    a(href="https://www.credly.com/badges/6ed3282b-6b9a-4687-8d9d-c6998db0dacc") 
                                        img.certification-logo(src='assets/logos/sp.png', alt='SAFe 4 Certified Practitioner')
                                    a(href="https://www.credly.com/badges/c36f00cc-19b6-478c-be3a-fef36fdeb1ff") 
                                        img.certification-logo(src='assets/logos/ssm.png', alt='SAFe 4 Certified Scrum Master')
                                    a(href="https://www.credly.com/badges/3fe69a6a-e965-4467-8aae-21fab1d51d30") 
                                        img.certification-logo(src='assets/logos/sa.png', alt='SAFe 4 Certified Agilist')
                                    a(href="https://www.credly.com/badges/4653984e-f6f3-4989-b8dd-9cc6cdffb6be") 
                                        img.certification-logo(src='assets/logos/popm.png', alt='SAFe 4 Certified Product Owner/Product Manager')
                                    a(href="https://www.credly.com/badges/6b34d95a-14e4-4028-85d2-cfcb583fbf4b") 
                                        img.certification-logo(src='assets/logos/sdp.png', alt='SAFe 4 DevOps Practitioner')
                                    a(href="https://www.credly.com/badges/7090182f-7665-46d5-ac8e-9d52e1069610") 
                                        img.certification-logo(src='assets/logos/oca.png', alt='Oracle Certified Associate, Java SE 7 Programmer')
                                    a(href="/assets/Resume-Josh-Knopp-Nov-2024.pdf#page=3") 
                                        img.certification-logo(src='assets/logos/oca.png', alt='Oracle Certified Associate, MySQL 5')
                                    a(href="/assets/Resume-Josh-Knopp-Nov-2024.pdf#page=3") 
                                        img.certification-logo(src='assets/logos/kendo-ui.png', alt='Kendo UI Certified')

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
